<h1 class="text-center font-bold py-2 text-gray-700">Login en Star Wars Api</h1>
<form (ngSubmit)="sendLogin()" [formGroup]="loginForm" class="space-y-4">
  <div>
    <div class="relative">
      <input
        #nameInput
        formControlName="username"
        placeholder="Ingrese usuario"
        type="text"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      >
    </div>
    <div *ngIf="username?.touched && username?.invalid">
      <p *ngIf="username?.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">Este campo es obligatorio</p>
    </div>
  </div>
  <div>
    <div class="relative">
      <input
        placeholder="Ingrese password"
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      >
      <button type="button" class="p-2 absolute rigth-2" (click)="showPassword = !showPassword">
        <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
      </button>
    </div>
    <div *ngIf="password?.touched && password?.invalid">
      <p *ngIf="password?.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">Este campo es obligatorio</p>
    </div>
  </div>
  <div>
    <button class="w-full font-medium rounded text-sm px-5 py-2 bg-orange-600 hover:bg-orange-700 focus:ring-orange-400 text-white disabled:bg-slate-600" type="submit" [disabled]="!loginForm.valid">
      Entrar
    </button>
  </div>
</form>
